.section-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
}

.top {
    display: flex;
    width: 100%;
    margin-left: 0.625rem;
}

.arrow {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.75rem;
}

.dark {
    background-color: rgba(15, 15, 15, 1);
    width: 3rem;
    height: 2.56rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    border: 1px solid #0F0F0F;
    display: flex;
    align-items: center;
    width: 29.4375rem;
    height: 3.5rem;
    margin-left: 4.625rem;
    margin-top: 1.3125rem;
}

.pad {
    margin-left: 1.1rem;
}

.search input {
    outline: none;
    background: transparent;
    border: none;
}

.main {
    background: url("../../components/atoms/images/hero.png");
    height: 15.9375rem;
    position: relative;
    margin-top: 1.25rem;
}

.mobile-main {
    display: none;
}

.title {
    position: absolute;
    top: 3.25rem;
    left: 2.5625rem;
}

.omah {
    position: absolute;
    right: 2.0625rem;
    bottom: 0.875rem;
}

.welcome {
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 2rem;
    color: white;
}

.weekend {
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 2rem;
    color: white;
}

.see {
    display: none;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.cheers-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.mobile {
    display: none;
}

@media (max-width: 428px) {
    .top {
        display: none;
    }
    .main {
        display: none;
    }
    .mobile-main {
        display: block;
        margin-top: 2.375rem;
    }
    .card-list {
        display: flex;
        flex-wrap: nowrap;
    }
    .welcome {
        margin-left: 1rem;
        font-size: 20px;
    }
    .more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100vw;
    }
    .weekend {
        margin-left: 1rem;
        font-size: 14px;
    }
    .see {
        display: flex;
        justify-content: end;
        color: white;
        padding-right: 1rem;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        max-width: 97.5vw;
    }
    .cheers-list {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0;
    }
    .mobile {
        display: flex;
        background: url("../../vectors/pattern.svg") #0F0F0F;
        background-size: cover;
        background-blend-mode: normal;
        flex-grow: 1;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 92px;
    }
}